.loginForm {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.loginForm > form {
    align-self: center;
}
.loginForm > form > button {
    width: 100%;
}
.authLogo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.navBlock {
    margin-top: 12px;
    justify-content: center;
    display: flex;
}
.fade-in {
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.fade-none {
    opacity: 0;
}