h1, h2, h3, h4, h5, h6, p, a, li, button, input, label {
    margin: 0;
    padding: 0;
}
* a {
    text-decoration: none;
}
* li {
    list-style-type: none;
}
.maim-margin-top {
    margin-top: 40px;
}